#root {
  width: 100%;
  text-align: center;


}


 /* background color change when light mode is toggled on. toggle is on themebutton.jsx */
:root {
  --bs-body-bg: aliceblue !important; 
}

body.light-theme {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
}





body {
  color: inherit !important;
  background-color: inherit !important;
  margin: 0;
  display: flex;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

.appContainer{
  width: 100%;
  height: 100vh;
  display: flex;
}

.circularProgressContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


/* color mode button */
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

#activeIcon1{
  margin-right: 0 !important;
  opacity: 1 !important;
}

.dropdown-menu{
  background-color: inherit !important;
}

