.activeContactsBox{
    color: #2b6a9b !important;
    background-color: #d5e7f5 !important;
}

.activeContactsBox:hover{
    color: #2b6a9b !important;
    background-color: #d5e7f5;
}

.cs-conversation__name, .cs-conversation__info{
    color: inherit;
}

.cs-main-container>.cs-sidebar.cs-sidebar--left{
    max-width: 320px !important;
}

.cs-conversation{
    background-color: inherit;
    color: inherit;
   /* background-color: #2B3035 */
}

.cs-conversation:hover{
    color: #2b6a9b ;
}

.scrollbar-container{
     background-color: inherit; 
     color: inherit;
}

@media (max-width: 768px) {

.cs-main-container--responsive .cs-search{
    display: flex;
}
}

/* Scrollbar settings (in order to get the default scrollbar from chat chatscope components visible) */
.cs-conversation-list{
    height: 100vh;
    color: inherit;
}

