.activeContactsBox{
    color: #2b6a9b !important;
    background-color: #d5e7f5;
}

.activeContactsBox:hover{
    color: #2b6a9b !important;
    background-color: #d5e7f5;
}

.cs-conversation__name, .cs-conversation__info{
    color: inherit;
}

.cs-main-container>.cs-sidebar.cs-sidebar--left{
    max-width: 320px !important;
}

@media (max-width: 768px) {

.cs-main-container--responsive .cs-search{
    display: flex;
}
}

