 input[name="email"], input[name="password"]{
    color: var(--bs-emphasis-color) !important; 
 }

 label[data-shrink="false"][for="search-bar"] {
    color: inherit !important;
    margin-left: 33px;
}

.MuiOutlinedInput-notchedOutline{
    border-color: var(--bs-secondary-color) !important; 
}
/* when the focus is on input, change outline's border color */
input[name="email"]:focus + .MuiOutlinedInput-notchedOutline{
    border-color: #1976d2 !important;
 }

 input[name="password"]:focus+ .MuiOutlinedInput-notchedOutline{
    border-color: #1976d2 !important;
 }

#email-label, #password-label{
    color: inherit !important;
}

.loginSignupLinkContainer{
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#lockIcon1{
    fill: white !important;
}

#googleSignInBtn{
    background-color: #EA4335;
}

#signinWithDemoAcc{
    background-color: cornflowerblue;
}

.signUpLink{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #1976d2;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(25, 118, 210, 0.4);
}

