.cs-message-input{
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 100%;
    background-color: inherit !important;
    border-top: inherit !important;
}

.fileInputMessageBox{
    display: none;
}