.MessagesPageContainer{
    display: flex;
    width: 100%;
}

.css-1d6a3hl-MuiPaper-root-MuiAppBar-root { 
    position: static !important;
}


.css-6h3a61-MuiPaper-root{
    width: 20%;
    overflow: auto;
}

.cs-message-group__footer{
    justify-content: flex-end;
}

.messageListContent{
    margin-bottom: 5rem;
}


@media (max-width: 768px) {

.noPersonSelectedContainer{
    display: none;
}
}

.msgBoxImg1 img{
    max-width: 30vw !important;
}

.messageBoxAvatar{
    height: 66px !important;
}

.messageBoxHeaderAvatar{
    height: 50px !important;
    width: 50px !important;
}

.messageBoxHeaderAvatar div{
    height: 100% !important; 
    width: 100% !important;
}

.cs-conversation-header__avatar{
    margin-bottom: 8px;
}

/* Scrollbar settings (in order to get the default scrollbar from chat chatscope components visible) */
.cs-message-list{
    height: 100vh !important;
  }
  
  .cs-message-input{
    position: fixed !important;
    right: inherit !important;
    width: -webkit-fill-available !important;
  }